<!-- {% load static %}
{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 class="hello">Color check</h1>
    <a href="{% url 'register' %}">register</a>
    <a href="{% url 'login' %}">login</a>
    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html> -->
{% load static %}

<html>

    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> Task Manager </title>

    </head>


    {% include 'base.html' %}
    <br>


    <body>
  
        <br>
        <br>
  
        <div class="text-center">
  
        <h3> A tool to Optimize Management of your tasks. </h3>
  
          <br>
            
        
          <a class="btn btn-outline-primary" type="button" href="{% url 'register' %}">Register</a>
  
        
        </div>
  
  
      </body>



    <br>

    <script src="{% static 'js/app.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"

    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"

    crossorigin="anonymous">

    </script>



</html>

